.menu-item {
  display: "flex";
  align-items: center;
  justify-content: center;
}
.red-cart {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  right: -8px;
  /* top: -4px; */
  bottom: 20px;
  /* color: #fff; */
  background-color: #f99f38;
  -webkit-box-shadow: 0 0 10px 0 rgb(255, 181, 97);
  box-shadow: 0 0 10px 0 rgb(255, 181, 97);
      display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
}
