.sidenav {
  display: flex;
  direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  /* background-color: aqua; */
}

/* width */
.sidenav::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.sidenav::-webkit-scrollbar-track {
  background: #77777761;
}

/* Handle */
.sidenav::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(142, 142, 142, 0.511);
  transition: background-color 0.5s ease-in-out;
}

/* Handle on hover */
.sidenav::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}
