.sidenav {
  display: flex;
  direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 77px;
  overflow-x: hidden;
  /* border-radius: 18px; */
  /* background-color: aqua; */
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}
